<form
  [formGroup]="form"
  (ngSubmit)="submit(loginInput.value, passwordInput.value)"
  class="login-wrap d-flex flex-column mx-auto mt-5 px-4 py-4">
  <h2 class="fs-4 fw-bold">Login</h2>
  <div class="mb-0">
    <label for="loginInput" class="form-label text-secondary mb-0 px-2"
      >login</label
    >
    <input
      #loginInput
      id="loginInput"
      type="text"
      class="form-control bg-secondary-subtle"
      formControlName="login" />
    <div
      *ngIf="login!.invalid && (login!.touched || login!.dirty)"
      class="validation">
      <small *ngIf="login!.errors?.['required']"
        >Please enter a login email</small
      >
      <small *ngIf="login!.errors?.['email']">The login email is invalid</small>
    </div>
  </div>
  <div class="mb-0">
    <label for="passwordInput" class="form-label text-secondary mb-0 px-2"
      >password</label
    >
    <input
      #passwordInput
      formControlName="password"
      type="password"
      class="form-control bg-secondary-subtle"
      id="passwordInput" />
    <div
      *ngIf="password!.invalid && (password!.touched || password!.dirty)"
      class="validation">
      <div *ngIf="password!.errors?.['required']">Please enter a password</div>
      <div *ngIf="password!.errors?.['minlength']">at least 8 characters</div>
      <div *ngIf="password!.errors?.['lettersDigits']">
        a mixture of letters and numbers
      </div>
      <div *ngIf="password!.errors?.['upperLower']">
        a mixture of both uppercase and lowercase letters
      </div>
      <div *ngIf="password!.errors?.['specSymbols']">
        inclusion of at least one special character, e.g., ! @ # ? ]
      </div>
    </div>
  </div>
  <app-common-button>
    <button class="btn btn-primary mx-auto mt-3 float-end" type="submit">
      Login
    </button>
  </app-common-button>
</form>
