.filter {
  font-size: 0.7rem;
  color: #5d5d5d;
}

.input-by-word {
  height: 1rem;
}

.filter-criteria {
  border: none;
  background-color: #c4c3c3;
  cursor: pointer;
}

.by-word {
  cursor: default;
}
