@import "../../../../../assets/bootstrap";

.bi-youtube {
  font-size: 3rem;
  color: $primary;
}

.input-group {
  width: 25rem;
}

.form-control {
  height: 1.5rem;
}

.input-group-text {
  height: 1.5rem;
  color: lightyellow;
  background-color: $primary;
  font-size: 0.7rem;
  cursor: pointer;
}

.btn-primary {
  height: 1.5rem;
  width: 2.5rem;
  padding: 0;
}

@media screen and (max-width: 860px) {
  .input-group {
    width: 20rem;
  }
}
